:root {
	--primary: #D81E5B;
	--secondary: #8A4EFC;
	--light: #EEE;
	--light-alt: #61759b;
	--dark: #131A26;
	--dark-alt: #202B3E;
	
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    list-style: none;
	font-family: "Fira Sans", sans-serif;
}

body {
	background-color: var(--dark-alt);
	color: var(--light);
}
.Outlet {
	padding: 32px 64px 32px;
}

h1 {
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 32px;
	margin-top: 40px;
}

h4 {
	font-size: 18px;
	color: var(--light-alt);
	text-transform: uppercase;
	font-weight: 400;
	margin-bottom: 16px;
}

.todo {
	position: relative;
	background-color: var(--dark);
	padding: 16px;
	border-radius: 16px;
	display: flex;
	align-items: center;
	transition: 0.5s;
	cursor: pointer;
	margin-bottom: 16px;
}

.todo:hover {
	opacity: 0.8;
}

.todo .checkbox {
	width: 20px;
	height: 20px;
	margin-right: 16px;
	border-radius: 8px;
	background-color: var(--dark-alt);
	background-image: linear-gradient(to bottom, transparent, transparent);
	transition: 0.4s;
}

.todo.is-complete .checkbox {
	background-color: var(--primary);
	background-image: linear-gradient(to bottom, var(--primary), var(--secondary));
}

.todo .text {
	font-size: 20px;
}

.todo.is-complete .text {
	text-decoration: line-through;
}

.todo .delete-todo {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 16px;
	color: var(--light);
	width: 24px;
	height: 24px;
	border-radius: 8px;
	background-color: #AF1E2D;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
}

.addPopup {
	position: fixed;
	bottom: 32px;
	right: 32px;
	display: flex;
	align-items: center;
	justify-content: center;

	width: 64px;
	height: 64px;
	border-radius: 999px;
	font-size: 28px;
	font-weight: 900;
	color: var(--light);
	background-color: var(--primary);
	background-image: linear-gradient(to bottom right, var(--primary), var(--secondary));
	cursor: pointer;
}

.popup {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 100%;
	max-width: 400px;
	background-color: var(--light);
	padding: 32px;
	border-radius: 16px;
	box-shadow: 0px 4px 32px var(--dark);
}

.closePopup {
	position: absolute;
	top: 16px;
	right: 16px;
	width: 20px;
	height: 20px;
	font-size: 20px;
	color: var(--dark);
	cursor: pointer;
}

.popup h3 {
	color: var(--dark);
	margin-bottom: 16px;
	font-weight: 400;
	text-transform: uppercase;
}

.add-todo-input, .form-input {
	appearance: none;
	outline: none;
	border: none;
	background-color: #FFF;
	padding: 16px;
	box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.2);
}

.add-todo-input {
	border-radius: 16px;
	box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.2);
	font-size: 20px;
}

.button {
	padding: 16px 32px;
	border-radius: 999px;
	background-image: linear-gradient(to right, var(--primary), var(--secondary));
	display: inline-block;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 18px;
	margin-top: 16px;
	text-align: center;
	cursor: pointer;
}

.nav-div {
	display: flex;
	align-items: center;
}

/*.navbar {
	font-size: 1.3rem;
	position: fixed;
	right: 48px;
	display: inline-block;
}*/

a {
	text-decoration: none;
	color: var(--light);
	display: inline-block;
	margin-right: 16px;
}

.login-form-div {
	width: 512px;
	display: flex;
	justify-content: center;
	padding: 16px;
	margin: 128px auto 0;
	border-radius: 12px;
	background-color: var(--dark);
	
}

.login-form {
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding: 32px 16px 32px;
	font-size: 18px;
}

.form-input {
	width: 100%;
	height: 40px;
	border-radius: 12px;
	margin-bottom: 16px;
}

.submit-form-button {
	padding: 6px;
	border-radius: 999px;
	background-image: linear-gradient(to right, var(--primary), var(--secondary));
	text-transform: uppercase;
	margin-top: 40px;
	text-align: center;
	cursor: pointer;
	color: #FFF;
    border: none;
}

a {
	cursor: pointer;
}

@media screen and (max-width: 768px) {
	.login-form-div{
	  width: 384px;
	}
}

  @media screen and (max-width: 512px) {
	.login-form-div{
	  width: 256px;
	}
  }

  

.logo {
	font-weight: 700;
	font-size: 2rem;
	color: var(--primary);
	line-height: 80px;
	padding: 0 64px;
}

nav {
	height: 80px;
	width: 100%;
}

nav ul {
	float: right;
	margin-right: 20px;
}

nav ul li {
	display: inline-block;
	line-height: 80px;
	margin: 0 4px;
}

nav ul li a {
	font-size: 16px;
	text-transform: uppercase;
	padding: 0 8px;
	border-radius: 3px;
}

a:hover {
	color: var(--primary);
	transition: .5s;
}

.checkbtn {
	font-size: 32px;
	color: var(--light);
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check {
	display: none;
}



@media (max-width: 768px) {
	.logo {
		padding-left: 32px;
	}
	.checkbtn {
		display: block;
	}

	ul {
		position: fixed;
		width: 100%;
		height: 24vh;
		background: var(--dark);
		top: 80px;
		left: -100%;
		transition: all .5s;
		text-align: center;
		z-index: 1;
	}

	nav ul li {
		display: block;
	}

	nav ul li a {
		font-size: 20px;
	}

	#check:checked ~ul {
		left: 0;
	}
     
}